body {
		background-color: #67c5db;
		font-size: 18px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 1em;
		font-weight: bold;
}

a, a:active, a:link, a:visited {
	color: #dedee0;
	font-size: 14px;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.container {
	width: 100%;
	height: 323px;
}

.login {
	border:2px solid #a1a1a1;
	box-shadow: inset 0 0 5px #a1a1a1;
	border-radius: 10px;
	margin: 10% auto;
}

.login {
	width: 500px;
	height: 323px;
	border: 2px solid #a1a1a1;
	box-shadow: inset 0 0 5px #a1a1a1;
	border-radius: 10px;
	margin: 10% auto;	
}

.form_header {
	width: 100%;
	height: 10%;
	Background-color: #dedee0;
	border-bottom: 2px solid #a1a1a1;
	text-align: center;
	padding: 3% 0 0 0;
	border-radius: 10px 10px 0 0;
}

form {
	background-color: #eff0f2;
	padding: 5% 5%;
	border-radius: 0 0 10px 10px;
}

input[type="text"],
input[type="password"] {
	outline: none;
	font-size: 20px;
	width: 100%;
	font-family: caption;
	border: 4px double #dedee0;
	padding: 5px;
	margin: 5% 0 0 0;
}

.btn {
	outline: none;
	color: #a1a1a1;
	font-weight: bold;
	font-size: 20;
	width: 125px;
	height: 50px;
	margin: 45px 0 0 110px;
	text-align: center;
	border-radius: 25px;
	background-color: #dedee0;
	border: 2px solid #a1a1a1;
}

.btn:hover {
	color: #000;
	background-color: #dedee0;
	box-shadow: inset 0 0 5px #000;
}

.chk {
	margin: 5% 0 0 0;
}

.rem {
	margin: 5% 0 0 10px;
	font-size: 12px;
}

.forgot {
	width: 100%;
	font-size: 3em;
}

.forgot a {
	margin: 000 35%;
}

/*----------------------------------------
	Screen size 500px wide or larger,
	following styles will be applied
-----------------------------------------*/
@media (min-width:500px){
	.login {
		width: 500px;
		height: 323;
	}
	input[type="text"]
	input[type="password"] {
		width: 430px;
		font-size: 20px;
	}
	.btn {
		font-size: 20px;
		width: 125px;
		height: 50px;
		margin: 45px 0 0 110px;
	}
	.forgot a {
		margin: 0 0 0 35%;
	}
	.chk {
		margin: 5% 0 0 0;
	}
	.rem {
		margin: 5% 0 0 10px;
	}
}
/*----------------------------------------
	Screen size less than 500px wide,
	following styles will be applied
----------------------------------------*/
@media (max-width:499px){
	.login {
		width: 300px;
		height: 297px;
		background-color: #eff0f2;
	}
	input[type="text"]
	input[type="password"] {
		width: 250px;
		font-size: 15px;
	}
	.btn {
		font-size: 14px;
		width: 225px;
		height: 40px;
		margin: 15% 0 0 7%;
	}
	.forgot a {
		margin: 0 0 0 25%;
	}
	.chk {
		margin: 6% 0 0 0;
	}
	.rem {
		margin: 6% 0 0 5%;
	}
}	

	














	